*
!*/
!.gitignore
!*.h
!*.c
!*.cc
!*.cpp
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.yaml
!*.md
!*.pdf
!*.xlsx
!*.docx
!*.sh

!Makefile*
!Dockerfile*

!lib/**/*.dll
!lib/**/*.lib
!lib/**/*.so
!lib/**/*.xml
!lib/**/*.dtd
